<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="MatExecutable" Language="1033" Version="1.0.0.0" Manufacturer="Foo" UpgradeCode="B28B3FA8-9310-4AA7-B0CA-CBCCA5FD00B2">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MediaTemplate EmbedCab="yes"/>

    <Feature Id="ProductFeature" Title="MatExecutable" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="ApplicationShortcut" /> 
    </Feature>

    <UIRef Id="WixUI_InstallDir"/>
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER"/>
  </Product>
  
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="MatExecutable"/>
      </Directory>

      <Directory Id="DesktopFolder" Name="Desktop">
        <Component Id="ApplicationShortcut" Guid="*">
            <Shortcut Id="ApplicationStartMenuShortcut"
                  Name="MatExecutable"
                  Description="MatExecutable"
                  Target="[INSTALLFOLDER]MatExecutable.exe"
                  WorkingDirectory="INSTALLFOLDER"/>
            <RegistryValue Root="HKCU" Key="Software\Microsoft\MatExecutable" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
        </Component>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
        <Component Id="ProductComponent">
            <File KeyPath="yes" Source="build/bin/matexecutable.exe"></File>
        </Component>
    </ComponentGroup>
  </Fragment>
</Wix>